.taskListSection{
    background: #fff;
    border: 1px solid rgb(180, 178, 178);
    margin-bottom: 15px;
}

.taskListSection__header{
    padding: 15px;
    display: flex;
}

@media screen and (max-width: 499px){
    .taskListSection__header{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}

.taskListSection__title{
    margin: 0;
    flex-grow: 1;
}

@media screen and (max-width: 499px){
    .taskListSection__title{
        flex-basis: 100%;
    }
}