.tasks__buttons{
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 499px){
    .tasks__buttons{
        flex-direction: column; 
    }
}

.tasks__buttonItem{
    background: none;
    border: none;
    color: hsl(225, 100%, 50%);
    transition: color .4s ease-out;
    cursor: pointer;
    /* font-size: var(--form-font-size); */
}

.tasks__buttonItem:hover{
    color: hsl(225, 100%, 78%);
}

.tasks__buttonItem:disabled{
    color:rgba(198, 197, 197, 0.915)
}